// this is a template file designed for usage in my dotfiles

$fg_color: #636155;
$text_color: #636155;
$bg_color: #c6c1aa;
$base_color: #c6c1aa;
$selected_bg_color: #5f819d;
$selected_fg_color: #636155;
$insensitive_bg_color: #c6c1aa;
$insensitive_fg_color: #47443c;
$insensitive_base_color: #c6c1aa;
$unfocused_fg_color: #636155;
$unfocused_text_color: #636155;
$unfocused_bg_color: #c6c1aa;
$unfocused_base_color: #c6c1aa;
$unfocused_selected_bg_color: #5f819d;
$unfocused_selected_fg_color: #c6c1aa;
$borders: #c6c1aa;
$unfocused_borders: #c6c1aa;

$warning_color: #de935f;
$error_color: #a54242;
$success_color: #5f819d;
