// this is a template file designed for usage in my dotfiles

$fg_color: #666357;
$text_color: #666357;
$bg_color: #ccc7af;
$base_color: #ccc7af;
$selected_bg_color: #ba795c;
$selected_fg_color: #666357;
$insensitive_bg_color: #ccc7af;
$insensitive_fg_color: #4d4a41;
$insensitive_base_color: #ccc7af;
$unfocused_fg_color: #666357;
$unfocused_text_color: #666357;
$unfocused_bg_color: #ccc7af;
$unfocused_base_color: #ccc7af;
$unfocused_selected_bg_color: #ba795c;
$unfocused_selected_fg_color: #ccc7af;
$borders: #ccc7af;
$unfocused_borders: #ccc7af;

$warning_color: #eacc79;
$error_color: #ba795c;
$success_color: #ba795c;
